<div class="relative h-[calc(100vh-var(--header-height))]">
  <!-- 背景層 -->
  <div class="absolute inset-0 bg-primary/5"></div>

  <!-- 內容層 -->
  <div class="flex flex-col lg:flex-row items-center justify-center gap-8 lg:gap-1 h-full px-1 relative select-none">
    <div class="flex flex-col items-center gap-8 px-10 w-full md:w-auto">
      <h1 class="font-noto-sans-tc lg:my-20 text-[55px] font-medium">Hello, 你好!</h1>
      <a routerLink="/registration-inquiry" class="outline-btn justify-center w-full md:w-auto md:px-[150px] py-6 rounded-[14px] font-noto-sans-tc text-[26px] font-light">我要掛號</a>
      <a routerLink="/progress" class="outline-btn justify-center w-full md:w-auto md:px-[150px] py-6 rounded-[14px] font-noto-sans-tc text-[26px] font-light">看診進度</a>
    </div>
    <img src="/img/home-banner.svg" alt="banner" class="w-2/3 lg:w-[calc(100%-600px)] min-[1540px]:w-auto min-[1540px]:h-4/5 object-contain object-center">
  </div>
</div>
