<header class="bg-white text-black border-b border-black border-solid">
  <div class="container mx-auto flex items-center justify-between py-4 px-6">
    <!-- Logo -->
    <div class="text-2xl font-bold">
      <a routerLink="/" class="cursor-pointer">哈德網站</a>
    </div>

    <!-- Navigation -->
    <nav class="flex space-x-4">
      <a routerLink="/about" class="relative cursor-pointer group">
        關於哈德
        <span class="absolute left-1/2 bottom-0 h-[2px] w-0 bg-red-500 transition-all duration-300 group-hover:w-full group-hover:left-0"></span>
      </a>
      <a routerLink="/registration-inquiry" class="relative cursor-pointer group">
        掛號及查詢
        <span class="absolute left-1/2 bottom-0 h-[2px] w-0 bg-red-500 transition-all duration-300 group-hover:w-full group-hover:left-0"></span>
      </a>
      <a routerLink="/fees" class="relative cursor-pointer group">
        收費標準
        <span class="absolute left-1/2 bottom-0 h-[2px] w-0 bg-red-500 transition-all duration-300 group-hover:w-full group-hover:left-0"></span>
      </a>
      <a routerLink="/progress" class="relative cursor-pointer group">
        看診進度
        <span class="absolute left-1/2 bottom-0 h-[2px] w-0 bg-red-500 transition-all duration-300 group-hover:w-full group-hover:left-0"></span>
      </a>
      <a routerLink="/education" class="relative cursor-pointer group">
        衛教資訊
        <span class="absolute left-1/2 bottom-0 h-[2px] w-0 bg-red-500 transition-all duration-300 group-hover:w-full group-hover:left-0"></span>
      </a>
      <a routerLink="/news" class="relative cursor-pointer group">
        最新消息
        <span class="absolute left-1/2 bottom-0 h-[2px] w-0 bg-red-500 transition-all duration-300 group-hover:w-full group-hover:left-0"></span>
      </a>
      <a routerLink="/contact" class="relative cursor-pointer group">
        聯絡我們
        <span class="absolute left-1/2 bottom-0 h-[2px] w-0 bg-red-500 transition-all duration-300 group-hover:w-full group-hover:left-0"></span>
      </a>
    </nav>
  </div>
</header>
