app-tooltip-content {
  @apply contents pointer-events-none z-[1001] block;
}

.tooltip-container {
  @apply relative flex flex-col items-center;
}

.tooltip-content {
  @apply bg-black/80 text-white p-3 rounded text-sm max-w-[250px] break-words shadow-md text-center whitespace-normal;
  line-height: 1.4;
}

.tooltip-arrow {
  @apply absolute w-0 h-0 border-solid border-[6px];

  &.top {
    @apply top-full left-1/2 -translate-x-1/2;
    border-color: rgba(0, 0, 0, 0.8) transparent transparent transparent;
    margin: 0;
  }

  &.right {
    @apply right-full top-1/2 -translate-y-1/2;
    border-color: transparent rgba(0, 0, 0, 0.8) transparent transparent;
    margin: 0;
  }

  &.bottom {
    @apply bottom-full left-1/2 -translate-x-1/2;
    border-color: transparent transparent rgba(0, 0, 0, 0.8) transparent;
    margin: 0;
  }

  &.left {
    @apply left-full top-1/2 -translate-y-1/2;
    border-color: transparent transparent transparent rgba(0, 0, 0, 0.8);
    margin: 0;
  }
}

.tooltip-top {
  @apply mb-[6px];
}

.tooltip-right {
  @apply ml-[6px];
}

.tooltip-bottom {
  @apply mt-[6px];
}

.tooltip-left {
  @apply mr-[6px];
}

.tooltip-error {
  .tooltip-content {
    @apply bg-red-600/90 text-white;
  }

  .tooltip-arrow {
    &.top {
      border-color: rgba(220, 38, 38, 0.9) transparent transparent transparent;
    }

    &.right {
      border-color: transparent rgba(220, 38, 38, 0.9) transparent transparent;
    }

    &.bottom {
      border-color: transparent transparent rgba(220, 38, 38, 0.9) transparent;
    }

    &.left {
      border-color: transparent transparent transparent rgba(220, 38, 38, 0.9);
    }
  }
}

.cdk-overlay-container {
  z-index: 1000;
}

.tooltip-overlay {
  z-index: 1001;
  pointer-events: none;
}

:host ::ng-deep .tooltip-container {
  filter: drop-shadow(0 1px 4px rgba(0, 0, 0, 0.3));
}
