<div class="grid grid-cols-1 lg:grid-cols-[1fr_400px] gap-4 xl:gap-16 min-h-[calc(100vh-var(--header-height))] max-w-[1440px] mx-auto p-4 sm:p-8 xl:p-16">

  <article class="flex flex-col gap-8 mb-20 sm:mb-30">
    <h1 class="font-noto-sans-tc text-[36px] xl:text-[44px] font-medium">{{article.title}}</h1>

    <p class="font-noto-sans-tc text-[20px] xl:text-[30px] whitespace-pre-line">{{article.content}}</p>
  </article>

  <div class="flex flex-col gap-8">
    <img src="/img/education/banner.svg" alt="education-img" class="w-full h-auto" />
    <img src="/img/education/banner.svg" alt="education-img" class="w-full h-auto" />
    <img src="/img/education/banner.svg" alt="education-img" class="w-full h-auto" />
  </div>


  <a routerLink="/education" class="hidden lg:block self-end text-[100px] font-thin cursor-pointer">&larr;</a>

  <div class="flex flex-col sm:flex-row justify-between gap-4 mt-20">
    <a routerLink="/education" class="block lg:hidden sm:self-end text-[60px] font-thin cursor-pointer">&larr;</a>
    <div class="flex flex-col gap-4 w-full sm:max-w-[400px]">
      <h2 class="font-noto-sans-tc text-[20px] xl:text-[30px] font-medium">推薦文章</h2>
      <app-education-card [item]="recommandEducation"></app-education-card>
    </div>
  </div>

</div>
