/* 添加錯誤樣式 */
:host ::ng-deep .error-input {
  border: 1px solid #ff4d4f !important;
  box-shadow: 0 0 0 2px rgba(255, 77, 79, 0.2) !important;
}

/* 適用於查詢標籤中的錯誤樣式 */
:host ::ng-deep .inquiryForm .error-input {
  border: 1px solid #ff4d4f !important;
  box-shadow: 0 0 0 2px rgba(255, 77, 79, 0.2) !important;
}
