<div
  class="flex flex-col items-center justify-center gap-4 sm:gap-8 relative h-auto min-h-[calc(100vh-var(--header-height))] p-4 sm:p-8"
>
  <h1 class="font-noto-sans-tc text-[24px] sm:text-[48px] font-medium">目前看診進度</h1>

  <div
    class="flex flex-col lg:flex-row items-center justify-between gap-8 mx-auto w-full max-w-[900px] xl:max-w-[1200px] px-4 md:px-15 pt-8 lg:pt-15 bg-[#F3F3F3] shadow-[3px_3px_6px_0_rgba(0,0,0,0.15)] rounded-sm border-b-[15px] border-solid border-primary"
  >
    <div class="flex lg:flex-col items-center gap-8 md:gap-20">
      <div class="flex flex-col gap-2">
        <!-- 帶入現在時間-->
        <p class="font-roboto text-[16px] md:text-[32px] lg:text-[24px] xl:text-[32px] leading-none">{{ currentDate }}</p>
        <p class="font-roboto text-[32px] md:text-[54px] lg:text-[40px] xl:text-[54px] font-bold leading-none">
          {{ currentTime }}
        </p>
      </div>

      <img src="/img/progress/nurse-2.svg" alt="nurse-2" class="w-auto h-[100px] md:h-[200px] lg:h-auto lg:w-[200px] xl:w-[250px]" />
    </div>

    <div class="flex flex-1 flex-col gap-y-8 sm:flex-row sm:items-end justify-center h-fit w-full max-w-[300px] sm:max-w-[550px] xl:max-w-[700px] pb-10">
      @for (doctor of doctors; track $index) {
        <!-- 醫生資訊 -->
      <div class="flex sm:flex-col items-center justify-around sm:justify-center gap-3 sm:w-1/3">
        <div class="flex flex-col items-center justify-center min-w-[120px]">
          <p class="font-noto-sans-tc text-[16px] md:text-[18px] xl:text-[22px]">{{ doctor.department }}</p>
          <p class="font-noto-sans-tc text-[24px] md:text-[28px] xl:text-[32px] font-bold">
            {{ doctor.name }}
          </p>
        </div>

        <!-- 叫號 -->
        <div
          class="flex items-center justify-center w-24 md:w-36 xl:w-44 h-24 md:h-36 xl:h-44 rounded-full border-4 border-black"
          [ngClass]="{ 'bg-[#C5C5C5] text-white': !doctor.number }"
        >
          @if (doctor.number) {
          <span class="font-roboto text-[40px] md:text-[70px] xl:text-[90px] font-medium">{{
            doctor.number
          }}</span>
          } @else {
          <span class="font-roboto text-[28px] md:text-[60px] xl:text-[76px] font-medium">休</span>
          }
        </div>
      </div>
      }
    </div>
  </div>
</div>
