<footer class="flex flex-col gap-8 py-8 bg-[#F0F0F0] text-black">

  <!-- 第一排 -->
  <div class="flex flex-col min-[1200px]:flex-row items-center justify-center min-[1200px]:space-x-12 space-y-4 min-[1200px]:space-y-0 text-center text-[20px] font-noto-sans-tc md:text-[26px]">
    <span>哈德診所 HEART CLINIC</span>
    <span class="text-primary hidden min-[1200px]:inline">|</span>
    <span>0970 503 838</span>
    <span class="text-primary hidden min-[1200px]:inline">|</span>
    <span>宜蘭縣羅東鎮純精路二段 192 號</span>
    <span class="text-primary hidden min-[1200px]:inline">|</span>
    <span><img src="/img/line-icon.svg" alt="line" class="h-12 cursor-pointer"></span>
  </div>

  <!-- 第二排 -->
  <div class="mt-2 text-center text-[16px] font-roboto font-light md:text-[26px]">
    &copy; Copyright © 2025 All Right Reserved by Heart Clinic
  </div>
</footer>
