<footer class="flex flex-col gap-8 py-8 bg-[#F0F0F0] text-black">
  <!-- 第一排 -->
  <div
    class="flex flex-wrap min-[1200px]:flex-row items-center min-[1200px]:justify-center gap-y-4 max-w-[600px] min-[1200px]:max-w-full mx-auto px-4 text-center font-noto-sans-tc text-[20px] md:text-[26px]"
  >
    <div class="order-1 min-[1200px]:order-1 w-1/2 min-[1200px]:w-auto text-left">
      <span class="whitespace-nowrap">哈德診所 HEART CLINIC</span>
      <span class="mr-8 pl-8 text-primary hidden min-[1200px]:inline">|</span>
    </div>
    <div class="order-3 min-[1200px]:order-2 flex flex-grow justify-between">
      <span class="whitespace-nowrap">0970 503 838</span>
      <span class="min-[1200px]:mr-8 min-[1200px]:pl-8 text-primary">|</span>
    </div>
    <div class="order-4 min-[1200px]:order-3 flex flex-grow justify-end">
      <span class="whitespace-nowrap">宜蘭縣羅東鎮純精路二段 192 號</span>
      <span class="mr-8 pl-8 text-primary hidden min-[1200px]:inline">|</span>
    </div>
    <span class="order-2 min-[1200px]:order-4 w-1/2 min-[1200px]:w-auto"
      ><img src="/img/line-icon.svg" alt="line" class="h-12 ml-auto cursor-pointer"
    /></span>
  </div>

  <!-- 第二排 -->
  <div
    class="mt-2 text-center text-[14px] font-roboto font-light md:text-[26px]"
  >
    &copy; Copyright © 2025 All Right Reserved by Heart Clinic
  </div>
</footer>
